<span class=" flex-col flex items-center justify-center h-screen space-y-2">
<p class="text-xl"> Thank You :) </p>

<a onclick="location.href='/'" class="bg-black rounded-full text-white p-2"> Upload Another </a>
</span>